<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Project Stacks</title>

    <link rel="stylesheet" href="../css/render.css?v=20180427_001">

    <script type="text/javascript" src="../script/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../script/jquery.tablesorter.min.js"></script>

    <script type="text/javascript" src="../script/janelia-render.js?v=20180611_001"></script>
    <script type="text/javascript" src="../script/stacks.js?v=20180430_001"></script>




   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript">
     //   $( document ).ready(function() {


       //     $("#stackInfo").tablesorter( { } );

            //noinspection JSUnusedLocalSymbols
         //   var stacksUi = new RenderWebServiceProjectStacks('renderStackOwner', 'renderStackProject', 'message', 'urlToView');


       // });


        jQuery(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready
console.log("document is ready");
$("#stackInfo").tablesorter( { } );

            //noinspection JSUnusedLocalSymbols
            var stacksUi = new RenderWebServiceProjectStacks('renderStackOwner', 'renderStackProject', 'message', 'urlToView');


  jQuery('.btn[href^=#]').click(function(e){
    e.preventDefault();
    var href = jQuery(this).attr('href');
    jQuery(href).modal('toggle');
  });



});


    </script>

</head>

<body>

<div class="m20">

    <span id="message"></span>

    <label for="renderStackOwner">Owner:</label>
    <select id="renderStackOwner" title="renderStackOwner"></select>
    &nbsp;&nbsp;
    <label for="renderStackProject">Project:</label>
    <select id="renderStackProject" title="renderStackProject"></select>
    &nbsp;&nbsp;
    <span id="bodyHeaderDetails"></span>
    <a id="urlToView" class="floatRight" target="_blank">URL to this view</a>

</div>

<div class="m20">

    <table id="stackInfo" class="tablesorter-blue">
        <thead>
            <tr>
                <th>Cycle</th>
                <th>Step</th>
                <th>Name</th>
                <th>State</th>
                <th>First Layer</th>
                <th>Last Layer</th>
                <th>Layer Count</th>
                <th>Tile Count</th>
                <th>Shared Transform Count</th>
                <th>Last Modified</th>
                <th data-sorter="false">Actions</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close</span></button>

            </div>
            <div class="modal-body">



                <iframe width="100%" height="700" style="overflow: hidden;" src="https://docs.google.com/forms/d/e/1FAIpQLSez3GlqtSHjfJuuHWiut4e9mEnhVrGx2XbcYf-5922TS7FmeA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading&amp;#8230;</iframe>



            </div>

        </div>
    </div>
</div>

</body>
</html>